.navTop {
  flex-grow: 2;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.meniuContainer {
  border-bottom: 1px solid #cbd3d9;
  border-top: 1px solid #cbd3d9;
  flex-grow: 8;
  padding: 40px 40px;
}

.navBottom {
  flex-grow: 4;
  padding: 20px 40px;
}

/* .meniu {

} */

.meniu > li  {
  display: flex;
  padding: 5px 10px 5px 0px;
  margin: 10px 0;
  color: black;
}

.meniu li:hover {
  background-color: #f0f0f0;
 }

 .meniu span {
   padding-left: 15px;
 }

.meniu > li:target {
background-color: #f0f0f0;
}

.meniu a {
  display: flex;
}

.svg {
  margin-bottom: -1px;
}

.navContacts {
  font-size: 14px;
  color: #707070;
  word-wrap: break-word;
}

.languageContainer{
  padding: 20px 40px;
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  height: 60px;
  border-top: 1px solid #cbd3d9;
}

.languageImg {
 margin-left: 10px;
 width: 30px;
 height: 17px;
 position: relative;
 cursor: pointer;
}